<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Jaldi:wght@700
    &family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700
    &family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900
    &display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Student Detail</title>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/1.11.14/libphonenumber-js.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <style>
        .jaldi-bold {
            font-family: "Jaldi", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        .ubuntu-medium {
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        .lato-bold {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            font-family: "Ubuntu", sans-serif;
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        /* Alternating row colors */
        tr:nth-child(even) {
            background-color: #F7F7F7;
        }
        tr:nth-child(odd) {
            background-color: #ffffff;
        }
        .form-container {
            width: 50%;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body style="background-color: #e7e5e5;">

    <div style="margin-top: 3%;" class="container">
        <h2 style="text-align: center; font-family: 'Ubuntu', sans-serif;">THAKURGANJ ANNUAL MATHEMATICS CONTEST ‒ \(11111101000_2 \)</h2>
        <p style="text-align: center;"><b>Organised by: <a href="https://rmctkg.wordpress.com/">Ramanujan Mathematics Club</a>, Thakurganj</b></p>
        <hr class="my-4">
    </div>

    <div class="container">
        <div style="border: 5px solid red; padding: 20px; align-self: center;">            
                <h5>फॉर्म भरने के दिशा-निर्देश:</h5>                
                <ul>
                    <li><p>
                        <small>
                            कृपया सभी जानकारी सही-सही भरें।<br>
                            Please fill all the information correctly.
                        </small>
                    </p>
                    </li>
                    
                    <li>
                        <p>
                            <small>
                                छात्र का आधार कार्ड ना होने पर अभिभावक का आधार संख्या प्रविष्ट करें। एक आधार कार्ड से एक ही छात्र का रजिस्ट्रेशन संभव है।<br>
                                If the student does not have an Aadhaar card, enter the Aadhaar number of the guardian. Only one student can be registered with one Aadhaar card.
                            </small>
                        </p>
                    </li>
                    
                    <li style="color: red;">
                        <p><small><b>परीक्षा में भाग लेने का शुल्क कक्षा 6 के लिए ₹0 है और अन्य के लिए ₹20 है। यह लघु शुल्क अवांछित कारकों को छाँटने लिए लगाया जा रहा है। यह शुल्क वापस नहीं किया जाएगा।<br>                                  
                        The fee for appearing in the exam is ₹0 for Class 6 and ₹20 for others. This small fee is being charged to filter out unwanted factors. This fee is non-refundable.</b></small></p>
                    </li>
                    
                    <li>
                        <p>
                            <small>
                            कृप्या ई-मेल पता सही-सही दे। भुगतान की रसीद और प्रवेश पत्र इसी ई-मेल पते पर भेजा जायेगा। <br>
                            Please provide correct email address. Payment receipt and admit card will be sent to this email address.
                            </small>
                        </p>
                    </li>
                    
                    <li>
                        <p>
                            <small>
                                फॉर्म भरने के बाद उसकी स्थिति आधार संख्या देकर पता की जा सकती है।<br>
                                After filling the form, its status can be known by providing Aadhaar number.
                            </small>
                        </p>
                    </li>
                </ul>             
        </div>        
    </div>
    


    <div style="margin-left: 5%;" class="mt-5">
        <h5 style="font-family: 'Jaldi', sans-serif;"><b><u>TAMC 2024</u></b> के लिए छात्र का विवरण भरें : </h5>
        <h5 style="font-family: 'Jaldi', sans-serif;">Fill in the Student's Details for <b><u>TAMC 2024</u></b> : </h5>
    </div>

    <div class="container mb-3 mt-1">

        <form id="myForm">
            <table>
                <tr>
                    <td><label for="name">
                        <p><b>नाम / Name: </b></p>
                    </label></td>
                    <td><input type="text" class="form-control" id="name" name="name" required><br>
                        
                    </td>
                </tr>

                <tr>
                    <td><label for="g_name">
                        <p><b>अभिभावक का नाम / Guardian's Name:</b></p>
                    </label></td>
                    <td><input type="text" class="form-control" id="g_name" name="g_name" required><br>
                        
                    </td>
                </tr>
                
                <tr>
                    <td><label for="grade">
                        <p><b>कक्षा / Class:</b> </p>
                    </label></td>
                    <td><select name="grade" id="grade">
                        <option value="6" selected>6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select><br>
                        
                    </td>
                </tr>
                <tr>
                    <td><label for="ph">
                        <p><b>मोबाईल / Mobile:</b> </p>
                    </label></td>
                    <td><input type="number" class="form-control" name="ph" id="ph" required><br>
                        
                    </td>
                </tr>
                <tr>
                    <td><label for="ano">
                        <p><b>आधार सं० / Aadhaar No.:</b> </p>
                    </label></td>
                    <td><input type="number" class="form-control" id="ano" name="ano" required><br>
                        
                    </td>
                </tr>
                <tr>
                    <td><label for="email">
                        <p><b>ई-मेल / E-Mail:</b> </p>
                    </label></td>
                    <td>
                        <input type="email" class="form-control" name="email" id="email" required><br>
                        
                    </td>
                </tr>
                <tr>
                    <td><label for="school">
                        <p><b>विद्यालय / School:</b> </p>
                    </label></td>
                    <td><input type="text" class="form-control" name="school" id="school" required><br></td>
                    <br>
                        
                    </td>
                </tr>
                <tr>
                    <td><label for="address">
                        <p><b>पता / Address:</b> </p>
                    </label></td>
                    <td><textarea class="form-control" name="address" name="address" id="address" required></textarea></td>
                    <br>
                        
                    </td>
                </tr>
                <tr>
                    <td><p><b>क्या आपने पिछले TAMC परीक्षाओ में भाग लिया है?</b></p>
                    <p><b>Have you participated in previous TAMC exams?</b></p>
                    </td>
                    <td>
                        <input type="radio" name="prevAtt" value="y">
                        <label for="html"><p><b>हाँ / Yes</b></p></label><br>
                        <input type="radio" name="prevAtt" value="n">
                        <label for="html"><p><b>नहीं / No</b></p></label>
                    </td>
                </tr>
            </table>
            <br>
            <div style="text-align: center;">
                <label for="declar3">
                    <p class="fs-6" style="font-family: 'Lato', sans-serif;">मैंने अपने द्वारा दी गई जानकारी की पुनः जांच कर ली है।<br>
                    I have re-checked the information provided by me.
                    </p>
                </label>
                <br>
                <input type="checkbox" name="declar3" required> <br>
                    <br>
                <label for="declar1">
                    <p class="fs-6" style="font-family: 'Lato', sans-serif;">
                    मेरे द्वारा दी गयी जानकारी मेरे अनुसार सही है। बाद में इस संबंध में किसी भी तरह कि विसंगति पाए जाने पर जिम्मेदारी मेरी होगी। <br>
                        The information given by me is correct according to me. If any discrepancy is found in this regard later, the responsibility will be mine.
                    </p>
                </label>
                <br>
                <input type="checkbox" name="declar1" required> <br>
                <br>
                <div id="fee" style="display: none;">
                    <label for="declar2">
                        <p class="fs-6" style="font-family: 'Lato', sans-serif;">मैं RMC को ₹20 के शुल्क का भुगतान अनुदान के रूप में स्वेच्छा से कर रहा/रही हूँ, और समझता/समझती हूँ कि ये शुल्क वापस नहीं किया जाएगा।<br>
                        I am paying the fee of ₹20 to RMC voluntarily as a grant, and understand that it is non-refundable.
                        </p>
                    </label>
                    <br>
                    <input type="checkbox" name="declar2" id="declar2"> <br>
                </div>
            </div>
            <div style="text-align: center;" class="mt-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitButton">Submit 🙂️</button>
            </div>
            <div style="text-align: center;" class="mt-2">
                <div class="spinner-border text-primary" role="status" id="spinner" style="visibility: hidden;">
                    <span class="sr-only"> </span>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-5 mb-5">
        <div class="container">
            <form id="appStatus">
                <label><p style="font-family: 'Ubuntu', sans-serif;"><b>अपनी आवेदन की स्थिति जाने<br>Know Your Application Status</b></p></label><br>
        
                <input type="number" id="anoEnquiry" placeholder="आधार सं० दर्ज करें / Enter Aadhaar No.">
                <button type="submit">Submit</button>
                <div class="spinner-border spinner-border-sm mt-2" role="status" id="spinner2" style="visibility: hidden;">
                    <span class="sr-only">  </span>
                </div>
            </form>
        </div>
    </div>

    <hr class="my-4">

    <div class="container" style="padding-right: 10%; padding-left: 10%;">
        <div style="text-align: center; align-self: center; background-color: #e9ecef; padding: 3%;">

            <p class="fs-5" style="font-family: 'Lato', sans-serif;">Connect With Us</p>
            
                <p class="font-monospace mt-3"><a href="tel:+919472885701">+91 9472885701</a>
                    <img src="{{ url_for('static', filename='/images/telephone-x-fill.svg') }}" style="width:20px;height:20px;">
                    <img src="{{ url_for('static', filename='/images/chat-left-dots-fill.svg') }}" style="width:20px;height:20px;">
                    <img src="{{ url_for('static', filename='/images/whatsapp.svg') }}" style="width:20px;height:20px;">
                    <img src="{{ url_for('static', filename='/images/telegram.svg') }}" style="width:20px;height:20px;">
                </p>
                <p class="font-monospace"><a href="mailto:rmctkg@gmail.com">rmctkg@gmail.com</a>
                    <img src="{{ url_for('static', filename='/images/envelope-at-fill.svg') }}" style="width:20px;height:20px;">
                </p>
                <a href="https://fb.com/rmctkg">
                    <p class="font-monospace">
                        Follow us on <img src="{{ url_for('static', filename='/images/facebook.svg') }}" style="width:20px;height:20px;"> for updates.
                    </p>
                </a>
            
        </div>
    </div>
    <hr class="my-4">



<script>

    async function getStatus(){
        const bell = new Audio("{{ url_for('static', filename='/music/notification.mp3') }}");
        const bell2 = new Audio("{{ url_for('static', filename='/music/notification2.mp3') }}");
        const aNoToBeEnquired = document.getElementById('anoEnquiry').value;
        const getStatusResponse = await fetch('/get_status',{
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({
            ano:aNoToBeEnquired
            })
        });

        try {
            if (getStatusResponse.ok){
            const responseData = await getStatusResponse.json();
            bell.play();
            alert(`
            
            आपका रजिस्ट्रेशन सफल हो गया है!
            Your registration has been succesful!
            
            Name: ${responseData.name}
            Guardian's Name: ${responseData.g_name}
            Class: ${responseData.grade}
            Phone: ${responseData.phone}
            Email: ${responseData.email}
            Registered on: ${responseData.time}
            
            `)
            }
            
            else {
                bell2.play();
                alert(`
                कोई विवरण उपलब्ध नहीं है।
                No record found.`)
            }
        } 
        
        catch (error) {
            bell2.play();
            alert("An error occurred: " + error.message);
        }
        
    }

    async function validateAndPay() {
        const bell = new Audio("{{ url_for('static', filename='/music/notification.mp3') }}");
        const bell2 = new Audio("{{ url_for('static', filename='/music/notification2.mp3') }}");

        //Getting the form data.        

        const phone = document.getElementById('ph').value;
        const email = document.getElementById('email').value;
        const ano = document.getElementById('ano').value;
        const name = document.getElementById('name').value;
        const g_name = document.getElementById('g_name').value;
        const grade = document.getElementById('grade').value;
        const school = document.getElementById('school').value;
        const address = document.getElementById('address').value;

        const radioButtons = document.getElementsByName('prevAtt');
        let prevAttV;
        for (const radioButton of radioButtons) {
            if (radioButton.checked) {
                prevAttV = radioButton.value;
                break;
            }
        }

        //Validating Mobile and E-mail from frontend

        const phoneNumber = libphonenumber.parsePhoneNumber(phone, 'IN');

        if (phoneNumber.isValid() && validator.isEmail(email)) {
            console.log("Phone and Email are valid.")
        } else{
            bell2.play();
            alert(`
            फ़ोन नंबर या ईमेल अमान्य है।
            Phone number or Email is invalid.`)
            return -1
        }

        //Validating AAdhar from backend

        const anoValid = await fetch('/validate_data',{
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams({
            ano:ano
            })
        });

        if (anoValid.ok){
            bell2.play();
            alert(`
            इस आधार संख्या का उपयोग किया जा चुका है।
            Aadhar No. has been used.`);
            return -1;
        }

        if (grade === '6') {
            const saveInDatabase = await fetch('/save_in_databse',{
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: new URLSearchParams({
                            name:name, g_name:g_name, school:school, grade:grade, email:email, phone:phone,
                            address: address, order_id:"no fee", prevAtt:prevAttV, ano:ano
                        })
                    });
                    if (saveInDatabase.ok){
                        console.log("Everything is ok")
                        bell.play();                          
                        alert(`
                            आपका रजिस्ट्रेशन सफल हो गया है!
                            Your registration has been succesful!`);
                        return;
                        }
        }
        
        
        ////////Entering the payment setup/////////

        // Create an order on the server
        const order = await fetch('/create_order', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            }).then(res => res.json());

        const options = {
                key: "{{ key_id }}",
                amount: order.amount,
                currency: order.currency,
                name: "RMC",
                description: "Payment for TAMC - 2024",
                order_id: order.id,
                
                handler: async function (response) {
                    // Send payment details for verification
                            const verifyResponse = await fetch('/verify_payment', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                body: new URLSearchParams({
                                    orderID: order.id,
                                    razorpay_order_id: response.razorpay_order_id,
                                    razorpay_payment_id: response.razorpay_payment_id,
                                    razorpay_signature: response.razorpay_signature
                                })
                            });

                    if (verifyResponse.ok) { // Status code 200-299 indicates success
                        const data = await verifyResponse.json();
                        console.log("Payment verified successfully");
                        const saveInDatabase = await fetch('/save_in_databse',{
                                method: 'POST',
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                body: new URLSearchParams({
                                name:name, g_name:g_name, school:school, grade:grade, email:email, phone:phone,
                                address: address, order_id:order.id, prevAtt:prevAttV, ano:ano
                            })
                        });

                        if (saveInDatabase.ok){
                            console.log("Everything is ok")
                            bell.play();                          
                            alert(`
                            आपका रजिस्ट्रेशन सफल हो गया है!
                            Your registration has been succesful!`);
                        }
                    } else {
                        const errorData = await verifyResponse.json();
                        console.error("Payment verification failed", errorData);
                        // Handle failed verification (e.g., display error to user)
                        bell2.play()
                        alert(`
                        भुगतान असफल रहा। दोबारा प्रयास करें।
                        The Payment was unsuccessful. Please try again.`)
                    }
                    
                },
                method: {
                    upi: true, // Enable UPI
                    card: true, // Enable Cards
                    wallet: true, // Enable Wallets
                    netbanking: true // Enable Net Banking
                },
                prefill: { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                    "name": name, //your customer's name
                    "email": email,
                    "contact": phone //Provide the customer's phone number for better conversion rates 
                },
                theme: {
                    color: "#528FF0"
                }
            };

        const rzp = new Razorpay(options);
        rzp.open();

        document.getElementById('myForm').reset();
        }
</script>

<script>
    document.getElementById('myForm').addEventListener('submit', async function(event) {
            
            const a = new Audio("{{ url_for('static', filename='/music/click.mp3') }}");
            a.play();
            event.preventDefault(); // Prevent the default submission
            // Show the spinner
            const spinner = document.getElementById('spinner');            
            spinner.style.visibility = "visible";

            const gradeValue = document.getElementById('grade').value;
            
             
            try{
                const validateAndPayStatus = await validateAndPay();
                if (validateAndPayStatus){return;}
            } catch(error){
                console.error("Payment script caused a problem:", error);
                spinner.style.visibility = "hidden";
            }finally{
                spinner.style.visibility = "hidden";
            }
            
        });
    document.getElementById('appStatus').addEventListener('submit', async function(event) {
            const a = new Audio("{{ url_for('static', filename='/music/click.mp3') }}");
            a.play();
            event.preventDefault();
            const spinner = document.getElementById('spinner');            
            spinner2.style.visibility = "visible"; 
            try{
                await getStatus();
            } catch(error){
                console.error("Payment script caused a problem:", error);
                spinner2.style.visibility = "hidden";
            }finally{
                spinner2.style.visibility = "hidden";
            }
            
        });
    document.getElementById('grade').addEventListener('change', function() {
        const gradeValue = this.value; // Get the selected value
        const feeDiv = document.getElementById('fee'); // Get the fee div
        const submitButton = document.getElementById('submitButton');
        const declar2 = document.getElementById('declar2');

        if (gradeValue === '6') {
            declar2.required = false; // Remove required attribute
            feeDiv.style.display = 'none'; // Hide the fee div
            submitButton.innerHTML = "Submit 🙂️"; // Update button text
        } else {
            feeDiv.style.display = 'block'; // Show the fee div
            declar2.required = true; // Add required attribute
            submitButton.innerHTML = "Pay ₹20 and Submit 🙂️"; // Update button text
        }
    });

</script>

</body>
</html>