<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&C</title>
</head>
<body>
    <ul>
        <li>
            <h1>Terms and Conditions</h1>
            <p>
                The exam of "THAKURGANJ ANNUAL MATHEMATICS CONTEST (TAMC)" is a project to promote study and learning of mathematics organised
                wholly by volunteers who put their own resources to run it. The group of these voluteers is "Ramanujan Mathematics Club (RMC)"
                which is again an informal group with absolutely no association or affliation to any other organistion.</b>
            </p>
            <p>
                When you sign-up to participate in TAMC exam you agree to abide by the decision of RMC in all concerning matter of fee, evaluation
                and prize distribution and those decisons will be final.
            </p>
            <p>
                If you are found to be providing false information regarding your academic record for the exam, you forfeit any claim
                regarding the exam and prize distribution.
            </p>
            <p>
                By signing up for the exam you agree to evaluation methadologies adopted by the organising body RMC. Please review the same which can be found
                <a href="{{url_for('rules')}}">here</a>.
            </p>
            <p>
                The selection of exam date, exam venue, syllabus, results and winners are sole privilege of RMC.
            </p>
        </li>
        <li>
            <h1>Privacy</h1>
            <p>
                Your Email, Contact Number and Address will not be shared with anyone outside. It is only for operational purposes.
            </p>
            <p>
                Your score, too, won't be shared publically unless you are in top ten scorer.
            </p>
        </li>
        <li>
            <h1>Refunds/Cancellations</h1>
            <p>
                Absolutely no refund will be provided for any payment made through this website.
            </p>
        </li>
        <li>
            <h1>Operating Address</h1>
            <p>
                Mr. Shekhar Kumar <br>
                Kachari Para, Ward No. 9, H. No. 14, Near SVN School <br>
                Thakurganj (Kishanganj) <br>
                PIN - 855116
            </p>
        </li>
        <li>
            <h1>Products/services</h1>
            <p>
                The RMC group don't provide any other services.
            </p>
        </li>
    </ul>
    <div class="container mb-5 mt-5" style="padding-right: 20%; padding-left: 20%;">
        <div class="border border-dark" style="text-align: center; align-self: center; background-color: #e9ecef; padding: 3%;"> 
                <p class="font-monospace mt-3"><a href="{{url_for('index')}}">फॉर्म पृष्ठ पर जाऐं</a></p>
                <p class="font-monospace"><a href="{{url_for('index')}}">Go to form page</a></p>        
        </div>
    </div>
</body>
</html>